In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import numpy as np
import scipy.stats as sts
import csv
from sqlalchemy import create_engine
import os
import datetime as dt

In [17]:
#Choose desired format
response_format = "csv"

In [18]:
#import file
missing_persons_file = "namus-missings.csv"
missing_persons_df = pd.read_csv(missing_persons_file, encoding = "ISO-8859-1")
missing_persons_df.head()

,Current Age From,City Of Last Contact,First Name,Modified Date Time,Middle Name,Last Name,image,Current Age To,Computed Missing Max Age,Computed Missing Min Age,County Of Last Contact,id Formatted,Race / Ethnicity,Date Of Last Contact,State Of Last Contact,Gender,link,namus2Number,Geo Shape,Geo Point 2D
0,69,Tampa,Leeann,2018-05-23 12:39:04-05:00,Coleene,Huffman,https://public.opendatasoft.com/api/datasets/1...,69,29.0,29.0,Hillsborough,MP19780,White / Caucasian,6/5/78,FL,Female,https://www.namus.gov//MissingPersons/Case#/19780,19780,"{""type"": ""Point"", ""coordinates"": [-82.45843130...","27.9475267717, -82.4584313022"
1,47,Tucson,Jose,2018-05-09 12:52:08-05:00,Luis,Reynoso Ramirez,https://public.opendatasoft.com/api/datasets/1...,47,37.0,37.0,Pima,MP16150,Hispanic / Latino,7/30/08,AZ,Male,https://www.namus.gov//MissingPersons/Case#/16150,16150,"{""type"": ""Point"", ""coordinates"": [-110.9264897...","32.2217479017, -110.926489707"
2,105,Watsonville,Bonnie,2018-05-20 17:29:03-05:00,Elzora,Brashers,https://public.opendatasoft.com/api/datasets/1...,105,50.0,50.0,Santa Cruz,MP1401,White / Caucasian,9/16/63,CA,Female,https://www.namus.gov//MissingPersons/Case#/1401,1401,"{""type"": ""Point"", ""coordinates"": [-121.7569076...","36.9102359182, -121.756907618"
3,60,Philadelphia,Marilyn,2018-02-08 22:01:02-06:00,NaN,Lanier,https://public.opendatasoft.com/api/datasets/1...,60,45.0,45.0,Philadelphia,MP19382,Black / African American,3/30/03,PA,Female,https://www.namus.gov//MissingPersons/Case#/19382,19382,"{""type"": ""Point"", ""coordinates"": [-75.16379077...","39.9523430652, -75.1637907707"
4,51,Gary,Kirkland,2018-05-09 12:51:34-05:00,C,Young,https://public.opendatasoft.com/api/datasets/1...,51,45.0,45.0,Lake,MP19610,Black / African American,12/4/12,IN,Male,https://www.namus.gov//MissingPersons/Case#/19610,19610,"{""type"": ""Point"", ""coordinates"": [-87.34643273...","41.59337742, -87.3464327382"

In [19]:
missing_persons_df.shape

(10045, 20)

In [20]:
missing_persons_df = missing_persons_df.dropna()
missing_persons_df

,Current Age From,City Of Last Contact,First Name,Modified Date Time,Middle Name,Last Name,image,Current Age To,Computed Missing Max Age,Computed Missing Min Age,County Of Last Contact,id Formatted,Race / Ethnicity,Date Of Last Contact,State Of Last Contact,Gender,link,namus2Number,Geo Shape,Geo Point 2D
0,69,Tampa,Leeann,2018-05-23 12:39:04-05:00,Coleene,Huffman,https://public.opendatasoft.com/api/datasets/1...,69,29.0,29.0,Hillsborough,MP19780,White / Caucasian,6/5/78,FL,Female,https://www.namus.gov//MissingPersons/Case#/19780,19780,"{""type"": ""Point"", ""coordinates"": [-82.45843130...","27.9475267717, -82.4584313022"
1,47,Tucson,Jose,2018-05-09 12:52:08-05:00,Luis,Reynoso Ramirez,https://public.opendatasoft.com/api/datasets/1...,47,37.0,37.0,Pima,MP16150,Hispanic / Latino,7/30/08,AZ,Male,https://www.namus.gov//MissingPersons/Case#/16150,16150,"{""type"": ""Point"", ""coordinates"": [-110.9264897...","32.2217479017, -110.926489707"
2,105,Watsonville,Bonnie,2018-05-20 17:29:03-05:00,Elzora,Brashers,https://public.opendatasoft.com/api/datasets/1...,105,50.0,50.0,Santa Cruz,MP1401,White / Caucasian,9/16/63,CA,Female,https://www.namus.gov//MissingPersons/Case#/1401,1401,"{""type"": ""Point"", ""coordinates"": [-121.7569076...","36.9102359182, -121.756907618"
4,51,Gary,Kirkland,2018-05-09 12:51:34-05:00,C,Young,https://public.opendatasoft.com/api/datasets/1...,51,45.0,45.0,Lake,MP19610,Black / African American,12/4/12,IN,Male,https://www.namus.gov//MissingPersons/Case#/19610,19610,"{""type"": ""Point"", ""coordinates"": [-87.34643273...","41.59337742, -87.3464327382"
5,49,Hartville,Varian,2018-05-09 12:52:08-05:00,L,Sawyers,https://public.opendatasoft.com/api/datasets/1...,49,49.0,49.0,Wright,MP42128,White / Caucasian,1/22/18,MO,Male,https://www.namus.gov//MissingPersons/Case#/42128,42128,"{""type"": ""Point"", ""coordinates"": [-92.51045141...","37.2508905719, -92.5104514139"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10037,38,Columbus,Raymond,2018-05-09 12:51:34-05:00,Paul,Akins,https://public.opendatasoft.com/api/datasets/1...,38,33.0,33.0,Muscogee,MP21993,White / Caucasian,1/7/13,GA,Male,https://www.namus.gov//MissingPersons/Case#/21993,21993,"{""type"": ""Point"", ""coordinates"": [-84.98771370...","32.4609825343, -84.9877137095"
10039,27,hollywood,Yesenia,2018-05-09 12:52:08-05:00,Catrine,Duval-Del Rosario,https://public.opendatasoft.com/api/datasets/1...,27,19.0,19.0,Broward,MP20900,White / Caucasian;Hispanic / Latino,10/13/10,FL,Female,https://www.namus.gov//MissingPersons/Case#/20900,20900,"{""type"": ""Point"", ""coordinates"": [-80.14949277...","26.0112061474, -80.1494927741"
10041,58,Anchorage,Robin,2018-05-20 17:10:11-05:00,Lynn,Vansickel,https://public.opendatasoft.com/api/datasets/1...,58,28.0,28.0,Anchorage,MP20724,White / Caucasian,7/1/88,AK,Female,https://www.namus.gov//MissingPersons/Case#/20724,20724,"{""type"": ""Point"", ""coordinates"": [-149.9003008...","61.2180572375, -149.900300845"
10043,90,Biloxi,Harold,2018-05-09 12:52:08-05:00,Lawrence,Elmhorst,https://public.opendatasoft.com/api/datasets/1...,90,77.0,77.0,Harrison,MP8128,White / Caucasian,5/16/05,MS,Male,https://www.namus.gov//MissingPersons/Case#/8128,8128,"{""type"": ""Point"", ""coordinates"": [-88.88531310...","30.3960373492, -88.8853131072"
10044,66,Conway,Christine,2018-05-09 12:52:08-05:00,Ann,Civille,https://public.opendatasoft.com/api/datasets/1...,66,31.0,31.0,Skagit,MP18217,White / Caucasian,12/24/83,WA,Female,https://www.namus.gov//MissingPersons/Case#/18217,18217,"{""type"": ""Point"", ""coordinates"": [-122.3429493...","48.3403860528, -122.342949376"

In [21]:
# cleaning and Dropping the columns
missing_persons_df = missing_persons_df.drop(['Current Age From', 'City Of Last Contact', 'First Name', 'Modified Date Time',
                             'Middle Name', 'Last Name', 'image', 'Current Age To', 
                             'Computed Missing Min Age', 'County Of Last Contact', 'id Formatted',
                             'link', 'namus2Number', 'Geo Shape', 'Geo Point 2D'], axis=1)
missing_persons_df

,Computed Missing Max Age,Race / Ethnicity,Date Of Last Contact,State Of Last Contact,Gender
0,29.0,White / Caucasian,6/5/78,FL,Female
1,37.0,Hispanic / Latino,7/30/08,AZ,Male
2,50.0,White / Caucasian,9/16/63,CA,Female
4,45.0,Black / African American,12/4/12,IN,Male
5,49.0,White / Caucasian,1/22/18,MO,Male
...,...,...,...,...,...
10037,33.0,White / Caucasian,1/7/13,GA,Male
10039,19.0,White / Caucasian;Hispanic / Latino,10/13/10,FL,Female
10041,28.0,White / Caucasian,7/1/88,AK,Female
10043,77.0,White / Caucasian,5/16/05,MS,Male
10044,31.0,White / Caucasian,12/24/83,WA,Female

In [24]:
missing_groupby_year = missing_persons_df[missing_persons_df["Date Of Last Contact"].str.extract(r'([0-9][0-9][0-9][0-9])', expand=True)

SyntaxError: unexpected EOF while parsing (<ipython-input-24-62c2218e14c9>, line 1)

In [8]:
missing_persons_df.dtypes

Computed Missing Max Age    float64
Race / Ethnicity             object
Date Of Last Contact         object
State Of Last Contact        object
Gender                       object
dtype: object

In [9]:
missing_persons_df.to_csv("missing_persons_final.csv", index=False)

In [ ]:
# Establish the bins 
year_bins = [1970-1979, 1980-1989, 1990-1999, 2000-2009, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
miss_s_1 = missing_persons_df

In [10]:
connection_string = "postgres:postgres@localhost:5432/missingpersons_db"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.connect()

In [12]:

engine.table_names()

['final_missing', 'missing_persons', 'missing_mf', 'missing_tt', 'missing_mm']

In [13]:
missing_persons_df.to_sql(name='missing_persons', con=engine, if_exists='append', index=False)

In [14]:
pd.read_sql_query('select * from missing_persons', con=engine).head(20)

,Computed Missing Max Age,Race / Ethnicity,Date Of Last Contact,State Of Last Contact,Gender
0,29,White / Caucasian,1978-06-05,FL,Female
1,37,Hispanic / Latino,2008-07-30,AZ,Male
2,50,White / Caucasian,2063-09-16,CA,Female
3,45,Black / African American,2012-12-04,IN,Male
4,49,White / Caucasian,2018-01-22,MO,Male
5,30,White / Caucasian,2018-02-06,AK,Male
6,17,White / Caucasian;Hispanic / Latino,2017-05-22,AZ,Male
7,43,White / Caucasian,1984-03-01,KY,Male
8,18,Hispanic / Latino,2010-09-26,AZ,Male
9,19,Asian,2013-06-09,WA,Female
10,36,White / Caucasian,2012-08-28,OK,Male
11,52,White / Caucasian,1980-03-01,CA,Female
12,37,White / Caucasian,2012-09-01,VA,Female
13,17,White / Caucasian,2000-04-28,OR,Male
14,58,White / Caucasian,2016-12-26,KY,Female
15,44,White / Caucasian,1992-03-20,WA,Female
16,29,White / Caucasian,2016-10-12,UT,Male
17,37,White / Caucasian,1986-07-19,FL,Female
18,33,White / Caucasian,2014-05-23,AL,Male
19,53,White / Caucasian,2015-12-07,NC,Female